{
    "presets": ["@babel/react", "@babel/typescript", ["@babel/env", { "modules": false, "targets": { "browsers": "last 2 versions" } }]],
    "plugins": ["react-hot-loader/babel",
        ["module-resolver", {
            "root": ["./src"],
          }]
    ]
}